body{
    padding: 0px;
    margin: 0px;
}
    
.containermade{
    width: 1000px;
    margin: 0 auto;
}  
.rowmade{
    display: flex;
}
.colmade{
    width: 100%;
    padding: 20px;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-66{
    width: 66.66666%;
}
.w-33{
    width: 33.33333%;
}
.madepicture{
    width: 50%;
    align-content: center;
}

/*  
.title{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 1em;
/*    font-family: 'Bebas Neue', cursive; */ 
/*    font-size: 3em; */
}
/*
.main-text{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.text-right{
    box-sizing: border-box;
    background-color: #FFFFFF;
    text-align: center;
    height: 20em;
    padding-top: 150px;
    width: 50%;
    float: right;
}
.text-left{
    box-sizing: border-box;
    background-color: #FFFFFF;
    text-align: center;
    height: 20em;
    padding-top: 150px;
    width: 50%;
    float: left;
}
.middletext{
    padding: 2em;
}
.different{
    clear: both;
    text-align: center;
    padding-top: 30px;
}
.history{
    padding-left: 25%;
    padding-top: 2em;
}


