/*Add the styling needed to match the mockup. Refer to the styleguide for font and color info*/

body {
    font-size: 22px;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    background-color: #f33947;
}
h1{
    font-size: 45px;
    color: #125DC0;
    background-color: #F2E85E;
    letter-spacing: 3px;
}
h2{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 22px;
    text-align: left;
    color: #125DC0;
    background-color: #F2E85E;
    letter-spacing: 1px;
    font-size: 30px;
}
img{
    width: 92.5%;
    border: 5px solid #333333;
    align-content: center;
    margin-bottom: 15px;
}
section{
    margin-right: 25%;
    margin-left: 25%;
    border-left: 6px solid #333333;
    border-right: 6px solid #333333;
    background-color: #D9C35A;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    text-align: center;
}
stop{
    font-family: 'Roboto', sans-serif;
    background-color: #39D0F2;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 20px;
    font-size: 15px;
    border-bottom: 10px solid #333333;
    color: #125DC0;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.important{
    font-style:italic;
    font-size: 14px;
    font-weight: 700;
}
#bottom{
    font-family: 'Roboto', sans-serif;
    color: #125DC0;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-top: 9px;
    background-color: #39D0F2;
    font-size: 16px;
    border-top: 8px solid #333333;
    text-align: end;
}
#top{
    color: #125DC0;
    background-color: #39D0F2;
}